<!DOCTYPE HTML>
<html>
<head>
<title>Video Streaming</title>
<script src="http://sheesh-neonarc.s3.amazonaws.com/static/mediaelement/build/jquery.js"></script>
<script src="http://sheesh-neonarc.s3.amazonaws.com/static/mediaelement/build/mediaelement-and-player.min.js"></script>
<link rel="stylesheet" href="http://sheesh-neonarc.s3.amazonaws.com/static/mediaelement/build/mediaelementplayer.css" />
</head>
<body>
<video src="http://sheesh-neonarc.s3.amazonaws.com/media/076436d1-750f-42d1-893b-18b040b104c1.mp4" width="320" height="240"></video>
<script>
// using jQuery
$('video,audio').mediaelementplayer();
</script>
</body>
</html>